conf/application/configuration.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified">
	<xsd:element name = "configuration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "attribute" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "configuration" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "configuration-file" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "attribute">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "name"/>
				<xsd:element ref = "type"/>
				<xsd:element ref = "value"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "name" type = "xsd:string"/>
	<xsd:element name = "type">
		<xsd:simpleType>
			<xsd:list>
				<xsd:simpleType>
					<xsd:restriction base = "xsd:string">
						<xsd:enumeration value = "java.lang.String"/>
						<xsd:enumeration value = "java.lang.Boolean"/>
						<xsd:enumeration value = "java.lang.Integer"/>
						<xsd:enumeration value = "java.lang.Double"/>
						<xsd:enumeration value = "java.lang.Long"/>
						<xsd:enumeration value = "java.lang.Float"/>
						<xsd:enumeration value = "com.momentumsystems.lang.EncryptedString"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:list>
		</xsd:simpleType>
	</xsd:element>
	<xsd:element name = "value" type = "xsd:string"/>
	<xsd:element name = "configuration-file">
		<xsd:complexType>
			<xsd:attribute name = "fileName" type = "xsd:string"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>